<!-- Footer Start -->
<div class="container-fluid bg-dark text-white-50 footer pt-5 mt-5 wow fadeIn" data-wow-delay="0.1s">
    <div class="container py-5">
        <div class="row g-5">
            <div class="col-lg-3 col-md-6">
                <h3 class="text-white mb-4">Kontakt</h3>
                <p class="mb-2"><i class="fa fa-map-marker-alt me-3"></i> Aktion Kindergarten e.V.<br>Bischofstraße 9<br>27356 Rotenburg (Wümme)</p>
                <p class="mb-2"><i class="fa fa-phone-alt me-3"></i> 04261 / 8 32 13</p>
                <p class="mb-2"><i class="fa fa-envelope me-3"></i> info@aktion-kindergarten-rotenburg.de</p>
            </div>
            <div class="col-lg-3 col-md-6">
                <h3 class="text-white mb-4">Quick Links</h3>
                <a class="btn btn-link text-white-50" href="{{ site.baseurl }}/files/Anmeldebogen_Aktion_Kindergarten.pdf" target="_blank">Anmeldebogen</a>
                <a class="btn btn-link text-white-50" href="{{ site.baseurl }}/files/Konzept_Aktion_Kindergarten.pdf" target="_blank">Konzept Aktion Kindergarten</a>
                <a class="btn btn-link text-white-50" href="{{ site.baseurl }}/datenschutzerklaerung.html">Datenschutzerklärung</a>
                <a class="btn btn-link text-white-50" href="{{ site.baseurl }}/impressum.html">Impressum</a>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="copyright">
            <div class="row">
                <div class="col-md-12 text-center text-md-start mb-3 mb-md-0">
                    &copy; <a class="border-bottom" href="#">Aktion Kindergarten e. V.</a>, All Right Reserved. 
                    
                    <!--/*** This template is free as long as you keep the footer author’s credit link/attribution link/backlink. If you'd like to use the template without the footer author’s credit link/attribution link/backlink, you can purchase the Credit Removal License from "https://htmlcodex.com/credit-removal". Thank you for your support. ***/-->
                    Designed By <a class="border-bottom" href="https://htmlcodex.com">HTML Codex</a>
                </div>                        
            </div>
        </div>
    </div>
</div>
<!-- Footer End -->