<head>
    <meta charset="utf-8">
    <title>Aktion Kindergarten e.V.</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicon     
    <link href="{{ site.baseurl }}/img/favicon.ico" rel="icon">
    -->
    <!-- Google Web Fonts -->
    <link href="{{ site.baseurl }}/css/google-fonts.css" rel="stylesheet">
    
    <!-- Icon Font Stylesheet -->
    <link href="{{ site.baseurl }}/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="{{ site.baseurl }}/css/bootstrap-icons.css" rel="stylesheet" type="text/css">

    <!-- Libraries Stylesheet -->
    <link href="{{ site.baseurl }}/lib/animate/animate.min.css" rel="stylesheet" type="text/css">
    <link href="{{ site.baseurl }}/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet" type="text/css">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="{{ site.baseurl }}/css/bootstrap.min.css" rel="stylesheet" type="text/css">

    <!-- Template Stylesheet -->
    <link href="{{ site.baseurl }}/css/style.css" rel="stylesheet" type="text/css">
</head>