<!-- Navbar Start -->
<nav class="navbar navbar-expand-lg bg-white navbar-light sticky-top px-4 px-lg-5 py-lg-0">
  <a href="index.html" class="navbar-brand">
      <h1 class="m-0">Aktion <br> Kindergarten e.V.</h1>
  </a>
  <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
      <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
      <div class="navbar-nav mx-auto">
          <a id="Home" href="index.html" class="nav-item nav-link">Home</a>
          <div class="nav-item dropdown">
              <a id="Konzept" href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Konzept</a>
              <div class="dropdown-menu rounded-0 rounded-bottom border-0 shadow-sm m-0">
                  <a href="{{ site.baseurl }}konzept_unser-bild.html" class="dropdown-item">Unser Bild vom Kind</a>
                  <a href="{{ site.baseurl }}konzept_schwerpunkte.html" class="dropdown-item">Schwerpunkte</a>
                  <a href="{{ site.baseurl }}konzept_kindergartenalltag.html" class="dropdown-item">Kindergartenalltag</a>
                  <a href="{{ site.baseurl }}konzept_auf_in_die_schule.html" class="dropdown-item">Auf in die Schule</a>
              </div>
          </div>
          <div class="nav-item dropdown">
              <a id="Wir" href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Wir</a>
              <div class="dropdown-menu rounded-0 rounded-bottom border-0 shadow-sm m-0">
                  <a href="{{ site.baseurl }}wir_gruppe.html" class="dropdown-item">Gruppe</a>
                  <a href="{{ site.baseurl }}wir_das_team.html" class="dropdown-item">Das Team</a>
                  <a href="{{ site.baseurl }}wir_elternarbeit.html" class="dropdown-item">Elternarbeit</a>
                  <a href="{{ site.baseurl }}wir_raeumlichkeiten.html" class="dropdown-item">Räumlichkeiten</a>
              </div>
          </div>
          <div class="nav-item dropdown">
              <a id="Infos" href="{{ site.baseurl }}infos_oeffnungszeiten_beitraege.html" class="nav-item nav-link">Infos</a>
          </div>
      </div>
  </div>
</nav>
<!-- Navbar End -->