<!-- JavaScript Libraries -->
<script src="{{ site.baseurl }}js/jquery-3.4.1.min.js"></script>
<script src="{{ site.baseurl }}js/bootstrap.bundle.min.js"></script>
<script src="{{ site.baseurl }}lib/wow/wow.min.js"></script>
<script src="{{ site.baseurl }}lib/easing/easing.min.js"></script>
<script src="{{ site.baseurl }}lib/waypoints/waypoints.min.js"></script>
<script src="{{ site.baseurl }}lib/owlcarousel/owl.carousel.min.js"></script>

<!-- Template Javascript -->
<script src="{{ site.baseurl }}js/main.js"></script>