<!DOCTYPE html>
<html lang="de-de">
    <body>
        <div id="site_content">
            {% include head.html %}
            {% include navbar.html %}
            <div id="content">                
                {{content}}
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    </body>
</html>