<!DOCTYPE html>
<html lang="de-de">
    {% include head.html %}
    <body>      
            <div class="container-xxl bg-white p-0">
            {% include spinner.html %}
            {% include navbar.html  %}  
            <!-- Page Header End -->
            <div class="container-xxl py-5 page-header position-relative mb-5">
                <div class="container py-5">
                </div>
            </div>
            <!-- Page Header End -->
            <div id="content">                
                {{content}}
            </div>
        </div>
        {% include footer.html %}
        {% include scripts.html %}    
    </body>
</html>
