<!DOCTYPE html>
<html lang="de-de">
    {% include head.html %}
    <body>      
        <div class="container-xxl bg-white p-0">
            {% include navbar.html  %}  
            <!-- activate Home in the navbar-->
            <script>Home.classList.add("active");</script>
            {% include carousel.html %}    
            <div id="content">                
                {{content}}
            </div>            
        </div>
        {% include footer.html %}
        {% include scripts.html %}    
    </body>
</html>