<!DOCTYPE html>
<html lang="de-de">
    {% include head.html %}
    <body>      
            <div class="container-xxl bg-white p-0">
            {% include spinner.html %}
            {% include navbar.html  %}  
            <!-- Page Header End -->
            <div class="container-xxl py-5 page-header-infos position-relative mb-5">    
                <div class="container py-5">
                    <h1 class="display-2 text-white animated slideInDown mb-1">&zwnj;</h1>
                </div>
            </div>
            <!-- Page Header End -->
            <!-- activate Home in the navbar-->
            <script>Infos.classList.add("active");</script>
            <div id="content">                
                {{content}}
            </div>
        </div>
        {% include scripts.html %}    
        {% include footer.html %}
    </body>
</html>
