<!DOCTYPE html>
<html lang="de-de">
    {% include head.html %}
    <body>      
            <div class="container-xxl bg-white p-0">
            {% include spinner.html %}
            {% include navbar.html  %}  
            <!-- activate Home in the navbar-->
            <script>Wir.classList.add("active");</script>
            <div id="content">                
                {{content}}
            </div>
        </div>
        {% include scripts.html %}    
        {% include footer.html %}
    </body>
</html>
