---
layout: impressum_layout
title:  "Impressum"
---

<div class="container-xxl py-5">
    <div class="container">
        <div class="mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s">
            <div class="col-lg-12 wow fadeInUp" data-wow-delay="0.1s">
            <h1 class="mb-3">Impressum</h1>
            <h2>Angaben gem&auml;&szlig; &sect; 5 TMG</h2>
            <p>Aktion Kindergarten e. V.<br />
            Bischofstra&szlig;e 9<br />
            27356 Rotenburg (W&uuml;mme)</p>
            <p><strong>Vertreten durch:</strong><br/>
            Susanne Slomma-Kahlenberg</p>
            <h2>Kontakt</h2>
            <p>Telefon: 04261 / 8 32 13<br/>
            E-Mail: info@aktion-kindergarten-rotenburg.de</p>
            <h2>Verbraucher&shy;streit&shy;beilegung/Universal&shy;schlichtungs&shy;stelle</h2>
            <p>Wir sind nicht bereit oder verpflichtet, an Streitbeilegungsverfahren vor einer Verbraucherschlichtungsstelle
            teilzunehmen.</p>
            <p>Quelle: <a href="https://www.e-recht24.de/impressum-generator.html">https://www.e-recht24.de/impressum-generator.html</a></p>
            </div>
        </div>     
    </div>
</div>

