---
layout: infos_layout
title:  "Infos"
---
<div class="container">
    <div class="container-xxl py-5">
        <div class="container">
            <div class="mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
                <h1 class="mb-3">&Ouml;ffnungszeiten</h1>
                <p>Montag bis Freitag &nbsp;Kernzeit: 8.00 &ndash; 12.30</p>
                <p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Fr&uuml;hdienst: ab 7.30</p>
                <p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Sp&auml;tdienst: bis 13.00</p>
                <p>Fr&uuml;h- und Sp&auml;tdienst m&uuml;ssen angemeldet werden.</p>            
            </div>
            <div class="mx-auto mb-5 py-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
                <h1 class="mb-3">Beitr&auml;ge</h1>
                <p>Kinder die das 3. Lebensjahr vollendet haben sind Beitragsfrei!</p>
                <p>Wir erheben einen Vereinsbeitrag von 10,50 &euro; und 4 &euro; Fr&uuml;hst&uuml;cksgeld pro Monat.</p>
            </div>
        </div>
    </div>
</div>
