---
layout: konzept_layout
title:  "Auf in die Schule"
---
<!-- Page Header End -->
<div class="container-xxl py-5 page-header-konzept-auf-in-die-schule position-relative mb-5">    
    <div class="container py-5">
        <h1 class="display-2 text-white animated slideInDown mb-1">&zwnj;</h1>
    </div>
</div>
<!-- Page Header End -->
<div class="container">
    <div class="container-xxl py-5">
        <div class="container">
            <div class="mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
                <h1 class="mb-3">Auf in die Schule</h1>        
                <p>Im Kindergarten werden wichtige vorschulische Lernprozesse in Gang gebracht. Um einen m&ouml;glichst fl&uuml;ssigen &Uuml;bergang vom Kindergarten in die Schule zu gestalten, arbeiten wir mit Ihrem Einverst&auml;ndnis in einem vertrauensvollen Austausch mit den Lehrern und Lehrerinnen der Grundschule am Grafel zusammen. Die zuk&uuml;nftigen Schulkinder werden von der Schule zu einem gemeisamen Schnuppertag eingeladen.</p>
                </div>
            </div>            
            <div class="row wow fadeInUp" data-wow-delay="0.5s">
                <div class="col-10 text-center">
                    <img class="img-fluid w-75 rounded-circle bg-light p-3" src="{{ site.baseurl }}/img/auf-in-die-schule/auf-in-die-schule_01.jpg" alt="">
                </div>
                <div class="col-6 text-start" style="margin-top: -150px;">
                    <img class="img-fluid w-75 rounded-circle bg-light p-3" src="{{ site.baseurl }}/img/auf-in-die-schule/auf-in-die-schule_02.jpg" alt="">
                </div>
            </div>              
        </div>
    </div>
</div>