---
layout: konzept_layout
title:  "Unser Bild vom Kind"
---
<!-- Page Header End -->
<div class="container-xxl py-5 page-header-konzept-unser-bild position-relative mb-5">    
    <div class="container py-5">
        <h1 class="display-2 text-white animated slideInDown mb-1">&zwnj;</h1>
    </div>
</div>
<!-- Page Header End -->
<div class="container">
        <div class="container-xxl py-5">
            <div class="container">
                <div class="mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
                    <h1 class="mb-3">Unser Bild vom Kind</h1>
                    <p>
                        <p>&nbsp;</p>
                        <p>Jedes Kind ist einmalig und wertvoll. Und es braucht andere Kinder, um an und mit ihnen zu lernen, Neues zu erfahren, sein K&ouml;nnen zu erweitern und sein Wissen zu vergr&ouml;&szlig;ern.</p>
                        <p>Wir freuen uns &uuml;ber jedes Kind, das uns mit seiner Einmaligkeit anvertraut wird und w&uuml;nschen uns, dass es sich sp&auml;ter gern an seine Kindergartenzeit zur&uuml;ckerinnert.</p>
                    </p>
                </div>
                </div>
            </div>
        </div>
</div>