---
layout: konzept_layout
title:  "Kindergartenalltag"
---
<!-- Page Header End -->
<div class="container-xxl py-5 page-header-konzept-kindergartenalltag position-relative mb-5">    
    <div class="container py-5">
        <h1 class="display-2 text-white animated slideInDown mb-1">&zwnj;</h1>
    </div>
</div>
<!-- Page Header End -->
<div class="container">
        <div class="container-xxl py-5">
            <div class="container">
                <div class="mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
                    <h1 class="mb-3">Kindergartenalltag</h1>        
                              <p>F&uuml;r Kinder sind Rhythmen im Alltag eine wertvolle Hilfe, sich zu orientieren und sich gut aufgehoben zu f&uuml;hlen. Daher beginnt und endet der Kindergartentag mit dem gemeinsamen Morgen- bzw. Schlusskreis. Auch wiederkehrende Ereignisse wie gemeinsames Fr&uuml;hst&uuml;cken oder die Aufr&auml;umzeit geben der &uuml;brigen Spielzeit Struktur und Halt.</p>
                          </p>
                    </div>
                </div>
            </div>
        </div>
</div>