---
layout: konzept_layout
title:  "Schwerpunkte"
---
<!-- Page Header End -->
<div class="container-xxl py-5 page-header-konzept-schwerpunkte position-relative mb-5">    
    <div class="container py-5">
        <h1 class="display-2 text-white animated slideInDown mb-1">&zwnj;</h1>
    </div>
</div>
<!-- Page Header End -->
<div class="container">
        <div class="container-xxl py-5">
            <div class="container">
                <div class="mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
                    <h1 class="mb-3">Schwerpunkte</h1>
                    <p>
                        Wie der Neurobiologe Prof.Dr. Gerald H&uuml;ther es bereits formulierte:</p>
                    <p>
                        <em>&bdquo; Eigentlich braucht jedes Kind drei Dinge. Es braucht Aufgaben, an denen es wachsen kann, Vorbilder, an denen es sich orientieren kann und Gemeinschaften, in denen es sich aufgehoben f&uuml;hlt.&ldquo;</em></p>
                    <p>
                        F&uuml;r uns ist die wichtigste Aufgabe die emotionale Entwicklung des Kindes und das soziale Lernen in&nbsp;der Gruppe. Wir m&ouml;chten, dass unsere Kinder erfolgreich lernen durch Projektarbeit.</p>
                    <p>
                        Grundlagen daf&uuml;r sind Lebensfreude, Struktur und Wertsch&auml;tzung. Und ein &uuml;bergeordnetes Thema, das jahreszeitenunabh&auml;ngig den Rahmen im Kindergartenalltag f&uuml;r eine gewisse Zeit vorgibt.</p>
                </div>
                <div class="row wow fadeInUp" data-wow-delay="0.5s">
                    <div class="col-8 text-center">
                        <img class="img-fluid w-75 rounded-circle bg-light p-3" src="{{ site.baseurl }}/img/schwerpunkte/schwerpunkt_02.jpg" alt="">
                    </div>
                    <div class="col-6 text-start" style="margin-top: -150px;">
                        <img class="img-fluid w-75 rounded-circle bg-light p-3" src="{{ site.baseurl }}/img/schwerpunkte/schwerpunkt_01.jpg" alt="">
                    </div> 
                </div>
            </div>
        </div>
</div>