---
layout: wir_layout
title:  "Das Team"
---
<!-- Team Start -->
<div class="container">
    <div class="container-xxl py-5">      
        <div class="text-center mx-auto mb-5 py-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
            <h1 class="mb-3">Erzieherinnen</h1>
            <p class="mb-4">Das Team des Aktion Kindergarten e. V. besteht aus Susanne, Jana, Ronja und Loa.</p>
        </div>
        <div class="row g-4">
            <div class="col-lg-5 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="team-item position-relative">
                    <img class="img-fluid rounded-circle w-75" src="{{ site.baseurl }}/img/susanne.jpg">
                    <div class="team-text">                               
                        <h3 class="d-flex align-items-center">Susanne</h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-5 col-md-6 wow fadeInUp" data-wow-delay="0.2s">
                <div class="team-item position-relative">
                    <img class="img-fluid rounded-circle w-75" src="{{ site.baseurl }}/img/jana.jpg">
                    <div class="team-text">
                        <h3>Jana</h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-5 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                <div class="team-item position-relative">
                    <img class="img-fluid rounded-circle w-75"  src="{{ site.baseurl }}/img/ronja.jpg">
                    <div class="team-text">
                        <h3>Ronja</h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-5 col-md-6 wow fadeInUp" data-wow-delay="0.4s">
                <div class="team-item position-relative">
                    <img class="img-fluid rounded-circle w-75"  src="{{ site.baseurl }}/img/loa.jpg">
                    <div class="team-text">
                        <h3>Loa</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Team End -->
