---
layout: wir_layout
title:  "Gruppe"
---
<!-- Page Header End -->
<div class="container-xxl py-5 page-header-wir-gruppe position-relative mb-5">    
    <div class="container py-5">
        <h1 class="display-2 text-white animated slideInDown mb-1">&zwnj;</h1>
    </div>
</div>
<!-- Page Header End -->
<div class="container">
    <div class="container-xxl py-5">
        <div class="container">
            <div class="mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
                <h1 class="mb-3">Gruppe</h1>
                <p>Der Aktion - Kindergarten besteht aus einer Vormittagsgruppe mit bis zu 24 Kindern im Alter von 3 bis 6 Jahren, die von drei Erzieherinnen betreut werden. Oft geben wir auch Berufs- und Schulpraktikanten die Gelegenheit, an unserem Arbeitsalltag teilzunehmen. Sollte eine Erzieherin ausfallen, k&ouml;nnen wir auf eine Vertretungskraft zur&uuml;ckgreifen. Sollte auch diese nicht zur Verf&uuml;gung stehen, springen Elternteile ein.</p>
                <p>Der Tagesablauf ist gut strukturiert, so dass sich alle Kinder schon nach kurzer Zeit gut zu Recht finden k&ouml;nnen, trotzdem bleibt genug Freiraum f&uuml;r individuelle Bed&uuml;rfnisse.</p>
            </div>
            </div>
        </div>
    </div>
</div>
