---
layout: wir_layout
title:  "Raeumlichkeiten"
---
<!-- Page Header End -->
<div class="container-xxl py-5 page-header-wir-raeumlichkeiten position-relative mb-5">    
    <div class="container py-5">
        <h1 class="display-2 text-white animated slideInDown mb-1">&zwnj;</h1>
    </div>
</div>
<!-- Page Header End -->
<div class="container">
    <div class="container-xxl py-5">
        <div class="container">
            <div class="mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
                <h1 class="mb-3">R&auml;umlichkeiten</h1>
            	<p>Die Kinder haben ausreichend Platz zur Entfaltung im Spiel, beim Werkeln mit verschiedensten Materialen, k&ouml;nnen sich auf die Hochebene zur&uuml;ckziehen oder in der &#39;Puppenecke&#39; aktiv sein. In der K&uuml;che, wo gefr&uuml;hst&uuml;ckt wird, steht f&uuml;r jedes Kind eine selbstgestaltete Tasse bereit. Dort haben die Kinder die M&ouml;glichkeit, Getr&auml;nke f&uuml;r sich und die anderen bereit zu stellen und Kontakt mit dem Thema &bdquo;gesunde Ern&auml;hrung&ldquo; aufzunehmen. Drau&szlig;en im Garten bieten sich herrliche M&ouml;glichkeiten mit Sand und Wasser zu spielen, man kann sich um duftende Kr&auml;uter k&uuml;mmern oder in der Nestschaukel tr&auml;umen, w&auml;hrend nebenan gebolzt, balanciert, gerutscht oder geklettert wird.</p>
            </div>
            <div class="row wow fadeInUp" data-wow-delay="0.5s">
                    <div class="col-12 text-center">
                        <img class="img-fluid w-75 rounded-circle bg-light p-3" src="{{ site.baseurl }}/img/raeumlichkeiten/raeumlichkeiten_02.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
