---
layout: wir_layout
title:  "Elternarbeit"
---
<div class="container">
    <div class="container-xxl py-5">
        <div class="container">
            <div class="mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
                <h1 class="mb-3">Elternarbeit</h1>
                <p>Der Grundgedanke der Elterninitiative ist die enge Zusammenarbeit mit den Eltern. Der Verein &bdquo;Aktion Kindergarten&ldquo; wurde 1972 von einer Gruppe von Eltern aus der Not heraus gegr&uuml;ndet. Es waren zu wenig Kindergartenpl&auml;tze vorhanden, und sie wollten in Gemeinschaft eine gute Betreuung mit famili&auml;rer Atmosph&auml;re f&uuml;r ihre Kinder schaffen. Die Eltern sind als Verein Tr&auml;ger des Kindergartens und Arbeitgeber der dort angestellten Erzieherinnen. Als Tr&auml;ger haben sie die Verantwortung f&uuml;r die &auml;u&szlig;eren Gegebenheiten (Verwaltung, Instandhaltung, Mithilfe), die p&auml;dagogische Arbeit obliegt den Erzieherinnen.</p>
                <p>Enge Zusammenarbeit und intensiver Austausch sind erw&uuml;nscht.</p>
                <p>Jede Familie leistet zur Zeit 8 Arbeitsstunden pro Halbjahr, die wahlweise in verschiedenen Bereichen und Arbeitsgruppen abgegolten werden k&ouml;nnen. Es gibt Gruppen f&uuml;r Gartenarbeit, Spielger&auml;te- und Homepagewartung, Rasen- und Dachrinnenpaten, Pressewart, Geschenke-, Reparatur-, Putz- und Winterdienstgruppen, und die Vertretung einer Erzieherin im Urlaubs- oder Krankheitsfall schl&auml;gt ebenfalls bei den Arbeitsstunden zu Buche. 1. und 2.Vorstand und der Kassenwart sind von der 8 Stunden Regel befreit.</p>
            </div>
        </div>
    </div>
</div>
